@import "./scroll.scss";
@import "./fonts/material-icons/index.css";

html, body {
  margin: 0;
  height: 100%;

  font-family: Verdana, Geneva, Tahoma, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
